// ==========================================================================
// COMPONENTE: UPLOAD DE ARQUIVOS (Drag-and-Drop)
// ==========================================================================

/* Container do componente customizado */
.desmonte-upload-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* Fundos e Bordas Base */
  background-color: var(--azul-50);
  border: 1px dashed var(--azul-300);
  border-radius: var(--spacing-s);

  /* O padding-bottom equilibra o topo, criando o espaçamento ideal */
  padding-bottom: var(--spacing-l);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  min-height: 212px;

  /* --- Elementos Internos --- */

  &__icon {
    /* Tipografia IconXL */
    font-size: 4rem;
    color: var(--fundo-600);
    padding-top: var(--spacing-l);
  }

  &__title {
    font-family: var(--font-family-base);
    font-size: var(--text-size-h4);
    font-weight: var(--font-weight-semibold);
    color: var(--fundo-900);
    padding-top: var(--spacing-s);
    margin: 0;
  }

  &__actions {
    /* Espaçamento para o botão terciário */
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
  }

  &__subtitle {
    font-family: var(--font-family-base);
    font-size: var(--text-size-h5);
    color: var(--fundo-600);
    margin: 0;
  }

  /* 
  TRUQUE DE USABILIDADE (Prevenção de Flicker): 
  Quando o usuário arrasta o arquivo e passa o mouse por cima do ícone ou dos textos, 
  o navegador acha que "saiu" da zona de drop. Desabilitar os eventos de ponteiro 
  nesses elementos internos resolve o problema.*/
  &__icon,
  &__title,
  &__subtitle {
    pointer-events: none;
  }

  /* --- Estados (TODOs da Especificação) --- */

  /* Drag Hover: Quando o usuário está arrastando um arquivo por cima (Fallback) */
  &.desmonte-upload-zone--dragover, &:hover {
    background-color: var(--azul-100);
    border-color: var(--azul-500);
  }

  /* Erro de Validação: Arquivo grande demais, formato inválido, etc. */
  &.desmonte-upload-zone--error {
    background-color: var(--vermelho-50);
    border-color: var(--vermelho-500);

    /* O & comercial aponta para a raiz .desmonte-upload-zone */
    .desmonte-upload-zone__icon,
    .desmonte-upload-zone__title,
    .desmonte-upload-zone__subtitle {
      color: var(--vermelho-600);
    }
  }
} /* <--- FIM DO BLOCO .desmonte-upload-zone */

// ==========================================================================
// INTEGRAÇÃO COM PRIMENG E ESTADOS EXTERNOS
// ==========================================================================


/* 
  Ajuste para integrar com o p-fileUpload do PrimeNG.
  Removemos a borda e fundo nativos para que nossa .desmonte-upload-zone assuma o controle visual.
*/
.p-fileupload .p-fileupload-content {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
}

.p-fileupload .p-fileupload-buttonbar {
  display: none !important;
}