/* ==========================================================================
   Knob (PrimeNG <p-knob>)
   ========================================================================== */
.desmonte-knob-container {
  display: flex;
  justify-content: center;
  padding: var(--spacing-s) 0;

  .p-knob-text {
    font-family: var(--font-family-base) !important;
    font-weight: var(--font-weight-semibold) !important;
    fill: var(--fundo-900) !important;
  }
}