<div class="desmonte-accordion-wrapper">
  <p-accordion [value]="openTab" [multiple]="multiple">
    <p-accordion-panel *ngFor="let panel of panels" [value]="panel.id">

      <p-accordion-header>
        <!-- NOVO WRAPPER: Agrupa o título e o ícone de status -->
        <div class="desmonte-accordion-header-content">
          <span class="desmonte-accordion-title">{{ panel.title }}</span>

          <div *ngIf="panel.statusIcon" class="desmonte-accordion-status">
            <i [class]="'pi ' + panel.statusIcon" [style.color]="panel.statusColor"></i>
          </div>
        </div>
      </p-accordion-header>

      <p-accordion-content>
        <ng-container *ngTemplateOutlet="panel.contentTemplate"></ng-container>
      </p-accordion-content>

    </p-accordion-panel>
  </p-accordion>
</div>