<app-field [label]="label" [required]="required" [errorMessage]="errorMessage" [helperText]="helperText"
    [styleClass]="styleClass" [customStyle]="customStyle">

    <div class="desmonte-input-number-wrapper" 
         [ngClass]="{'has-unit-left': unit && unitPosition === 'left', 'has-unit-right': unit && unitPosition === 'right'}">
        
        <span class="desmonte-input-number-unit left" *ngIf="unit && unitPosition === 'left'">{{ unit }}</span>
        
        <p-inputNumber 
            [(ngModel)]="value" 
            [inputId]="id"
            [placeholder]="placeholder" 
            [disabled]="disabled"
            [minFractionDigits]="computedMinFractionDigits"
            [maxFractionDigits]="computedMaxFractionDigits"
            mode="decimal"
            locale="pt-BR"
            [ngClass]="errorMessage ? 'p-invalid' : ''"
            [inputStyle]="{'text-align': textAlign}" 
            (onInput)="handleInput($event)" 
            (onBlur)="handleBlur($event)"
            (onFocus)="handleFocus($event)">
        </p-inputNumber>

        <span class="desmonte-input-number-unit right" *ngIf="unit && unitPosition === 'right'">{{ unit }}</span>
        
    </div>
</app-field>