<main class="layout-main-content">
  <div class="grid">

    <div class="col-12 lg:col-9">

      <app-card id="tokens-cores" title="Cores" subtitle="Tokens de cores para serem usados em todo o projeto">
        <p>As cores são definidas em tokens variando de 50 a 950. Cada um terá seu uso definido nos componentes mais
          abaixo nesta documentação.</p>
        <div class="grid" style="text-align: center;">
          <div class="col-1"></div>
          <div class="col-1" *ngFor="let weight of colorWeights">
            <h6>{{ weight }}</h6>
          </div>
        </div>
        <div class="grid" *ngFor="let palette of colorPalettes" style="align-items: center; margin-bottom: var(--size-xs);">
          <!-- Nome da Cor -->
          <div class="col-1">
            <p style="margin: 0;">{{ palette.name }}</p>
          </div>
          <!-- Quadrados de Cor gerados dinamicamente -->
          <div class="col-1" *ngFor="let weight of colorWeights"
            [style.backgroundColor]="'var(--' + palette.prefix + '-' + weight + ')'"
            style="min-height: var(--size-xl);">
          </div>
        </div>
      </app-card>

      <app-card id="tokens-tipografia" title="Tipografia" subtitle="Hierarquia e legibilidade com Roboto">

        <p>A tipografia padrão é a Roboto, com espaçamento normal entre linhas. A depender da aplicação do texto, usar
          uma das escalas abaixo.</p>
        <h1>Título da página - H1</h1>
        <h2>Subtítulos e títulos de blocos de informação - H2</h2>
        <h3>Títulos de cards e seções internas - H3</h3>
        <h4>Informações em destaque - H4</h4>
        <p>Texto padrão - P</p>
        <h5>Legendas e helpers em inputs - H5</h5>
        <h6>Cabeçalhos de grids e badges</h6>

      </app-card>

      <app-card id="tokens-espacamento" title="Espaçamentos"
        subtitle="Espaçamentos padrão entre componentes visuais da tela">

        <p>Usaremos os seguintes distanciamentos padrão, evitando o uso de outros distanciamentos:</p>
        <ul>
          <li>XS (extra small): 4px</li>
          <li>S (small): 8px</li>
          <li>M (medium): 16px</li>
          <li>L (large): 24px</li>
          <li>XL (extra large): 48px</li>
          <li>XXL (extra extra large): 64px</li>
        </ul>
        <p>O conteúdo da tela principal (abaixo da navbar) terá margens de tamanho L (padding: 24px), no topo e nas
          laterais.</p>
        <p>Cada componente terá suas próprias regras de padding, que serão descritas mais abaixo.</p>
      </app-card>

      <app-card id="componente-cards" title="Cards" subtitle="O contêiner padrão para dados e ações">
        <p>Os cards servem para destacar os dados contra a tela principal. As características do card são as
          seguintes:</p>
        <ul>
          <li>Fundo: bg-color fundo-0</li>
          <li>Sombra: drop-shadow Y S, blur M 10%</li>
          <li>Título: texto em H2, color fundo-900, padding-top L, padding-left L, padding-right L, padding-bottom M
            (S para subtítulo)</li>
          <li>Subtítulo: texto em H5, color fundo-700</li>
          <li>Divisor: opcional, linha horizontal de 1px abaixo do título, cor fundo-200, padding-bottom L</li>
          <li>Conteúdo geral: padding-top L, padding-left L, padding-right L, padding-bottom L</li>
        </ul>
        <h3>Exemplo</h3>
        <p>O próprio conteúdo deste card é um exemplo de estilo.</p>
      </app-card>

      <app-card id="componente-scrollspy" title="Scrollspy" subtitle="Navegação contextual para formulários">
        <p>O scrollspy serve como guia para indicar ao usuário em que ponto do formulário ele está. Sua presença é
          opcional, mas sempre que houver ao menos dois cards em uma tela, recomenda-se o seu uso. Ele estará sempre
          posicionado à direita do conteúdo, ficando visível a todo momento. Isso significa que o conteúdo dos cards
          pode ter rolagem, mas o scrollspy se mantém fixo na lateral. Cada linha representa um card em tela. As
          características do scrollspy são seguintes:</p>
        <ul>
          <li>Fundo: idêntico ao card</li>
          <li>Itens:</li>
          <ul>
            <li>Texto: fonte H4, color fundo-900, padding-bottom M</li>
            <li>Indicador de seleção: fundo do texto azul-50</li>
          </ul>
        </ul>
        <h3>Exemplo</h3>
        <p>O menu lateral aqui à direita é um exemplo de scrollspy.
        </p>
      </app-card>

      <app-card id="componente-inputs" title="Inputs de Texto" subtitle="Padronização de campos de formulário">
        <p>O input terá label fixa, acima do campo. A versão atual do Desmonte usa o input flutuante do Material
          Design, mas iremos seguir por outro caminho na nova versão.</p>
        <ul>
          <li>Label: texto em H5, padding-bottom XS, color fundo-700, sempre acompanhado de dois pontos “:”</li>
          <li>Border: border-width 1, border-color fundo-200, border-radius XS, padding-bottom M</li>
          <li>Texto: padding-left M, padding-top S, padding-bottom S, color fundo-900, alinhado à esquerda</li>
          <li>Placeholder: idem ao texto, com color fundo-300</li>
          <li>Obrigatoriedade: asterisco “*” color vermelho-500, incluir após os dois pontos e com um espaço</li>
          <li>Foco: border-color azul-400</li>
          <li>Bloqueado/desabilitado: bg-color fundo-50</li>
          <li>Erro: border-color vermelho-500</li>
          <li>Motivo do erro: texto em H5 abaixo do input, padding-top XS, color vermelho-500</li>
          <li>Hover: border-color fundo-300</li>
          <li>Espaçamento vertical entre inputs: padding-bottom M</li>
        </ul>
        <div class="grid">
          <div class="col-12 md:col-6 lg:col-4">
            <app-field-text id="input-exemplo-1" formControlName="input-exemplo-1" label="Nome da Peça"
              placeholder="Ex: Radiador de Corsa" [required]="true" helperText="Insira a descrição exata da peça.">
            </app-field-text>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
            <app-field-text id="input-exemplo-2" formControlName="input-exemplo-2" label="Código Interno"
              value="123-ABC" placeholder="Ex: 123-ABC" errorMessage="Código já cadastrado no sistema.">
            </app-field-text>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
            <app-field-text id="input-exemplo-3" formControlName="input-exemplo-3" label="ID do Desmonte"
              value="DS-2024-001" [disabled]="true">
            </app-field-text>
          </div>
        </div>
        <p>[TODO]: contador de caracteres, máscara e exemplo prático de erro de validação</p>
      </app-card>

      <app-card id="componente-botoes" title="Botões" subtitle="Ações principais e secundárias do sistema">
        <p>Os botões servem para efetuar ações como salvar formulários, gerar relatórios, fechar uma tela, entre
          outras atividades. Os botões possuem vários estados diferentes, e três estilos: principal, secundário e
          terciário. Cada uma destas combinações será explicada abaixo.</p>
        <h3>Estrutura base</h3>
        <p>Independente do estilo, estado e cor do botão, sua estilização será essencialmente a mesma por todo o
          Desmonte:</p>
        <ul>
          <li>Border: border-width 1, border-radius XS, padding-bottom M, padding-left S, padding-right S</li>
          <li>Texto: H4, padding-left M, padding-right M, padding-top S, padding-bottom S, centralizado</li>
        </ul>
        <p>Isso significa que a altura do botão será a mesma do input, o que viabiliza o alinhamento correto dos
          campos em tela quando necessário. Não há necessidade de botões maiores ou menores, a única diferenciação
          será a questão de bordas entre os estilos.</p>

        <h3>Botão Principal</h3>
        <p>O botão principal deve servir ao principal propósito da tela em questão. Devido a isso, deve haver somente
          um único botão com este estilo por tela. Demais botões devem estar com estilos secundários ou
          terciários.<br>
          Este botão terá o fundo preenchido e texto branco, independente da cor selecionada. Devido a isso, a cor
          utilizada será o de peso 500, para facilitar o contraste. Para cada status, haverá uma variação da cor de
          fundo, e os exemplos serão demonstrados abaixo:</p>

        <div class="grid">
          <div class="col-12 md:col-2">
            <p class="h6">Primário</p>
            <app-button label="Confirmar" icon="pi-check" [fullWidth]="true"></app-button>
            <app-button label="Confirmar" icon="pi-check" [fullWidth]="true" [disabled]="true"></app-button>
          </div>
          <div class="col-12 md:col-2">
            <p class="h6">Sucesso</p>
            <app-button label="Ativar" color="success" icon="pi-play" [fullWidth]="true"></app-button>
            <app-button label="Ativar" color="success" icon="pi-play" [fullWidth]="true" [disabled]="true"></app-button>
          </div>
          <div class="col-12 md:col-2">
            <p class="h6">Atenção</p>
            <app-button label="Pendente" color="warning" icon="pi-exclamation-triangle" [fullWidth]="true"></app-button>
            <app-button label="Pendente" color="warning" icon="pi-exclamation-triangle" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>
          <div class="col-12 md:col-2">
            <p class="h6">Perigo</p>
            <app-button label="Excluir" color="danger" icon="pi-trash" [fullWidth]="true"></app-button>
            <app-button label="Excluir" color="danger" icon="pi-trash" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>
          <div class="col-12 md:col-2">
            <p class="h6">Info</p>
            <app-button label="Ajuda" color="help" icon="pi-info" [fullWidth]="true"></app-button>
            <app-button label="Ajuda" color="help" icon="pi-info" [fullWidth]="true" [disabled]="true"></app-button>
          </div>
        </div>

        <h3>Botão Secundário</h3>
        <p>O botão secundário serve para indicar as ações complementares da tela. Via dde regra serão ações
          afirmativas, que executam alguma ação de fato; por isso não devem ser usadas para botões de fechar um modal
          ou excluir um registro. Visualmente, os botões são vazados, com uma borda para identificar que são um botão.
          Os exemplos de status são os abaixo:</p>

        <div class="grid">

          <div class="col-12 md:col-2">
            <p class="h6">Secundário</p>
            <app-button label="Editar" variant="secondary" icon="pi-pencil" [fullWidth]="true"></app-button>
            <app-button label="Editar" variant="secondary" icon="pi-pencil" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Sucesso Outline</p>
            <app-button label="Reativar" variant="secondary" color="success" icon="pi-refresh"
              [fullWidth]="true"></app-button>
            <app-button label="Reativar" variant="secondary" color="success" icon="pi-refresh" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Atenção Outline</p>
            <app-button label="Revisar" variant="secondary" color="warning" icon="pi-search"
              [fullWidth]="true"></app-button>
            <app-button label="Revisar" variant="secondary" color="warning" icon="pi-search" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Perigo Outline</p>
            <app-button label="Descartar" variant="secondary" color="danger" icon="pi-times"
              [fullWidth]="true"></app-button>
            <app-button label="Descartar" variant="secondary" color="danger" icon="pi-times" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Info</p>
            <app-button label="Relatório" variant="secondary" color="help" icon="pi-chart-bar"
              [fullWidth]="true"></app-button>
            <app-button label="Relatório" variant="secondary" color="help" icon="pi-chart-bar" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>
        </div>

        <h3>Botão Terciário</h3>
        <p>O botão terciário serve para as ações que envolvem principalmente fechar telas, excluir registros e outras
          funções que tenham uma relevância menor no contexto da tela em que se encontram. Visualmente, serão
          diferenciados dos demais botões pelo fato de não terem uma borda definida, apenas o conteúdo sendo listado.
          Devido a isso, a recomendação é que sempre contenham um ícone ao seu lado, para dar ao usuário a sensação de
          que é de fato um botão. Os estados são os abaixo:</p>

        <div class="grid">

          <div class="col-12 md:col-2">
            <p class="h6">Terciário</p>
            <app-button label="Cancelar" variant="tertiary" icon="pi-times" [fullWidth]="true"></app-button>
            <app-button label="Cancelar" variant="tertiary" icon="pi-times" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Sucesso Ghost</p>
            <app-button label="Ver Mais" variant="tertiary" color="success" icon="pi-eye"
              [fullWidth]="true"></app-button>
            <app-button label="Ver Mais" variant="tertiary" color="success" icon="pi-eye" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Atenção Ghost</p>
            <app-button label="Ajuda" variant="tertiary" color="warning" icon="pi-question-circle"
              [fullWidth]="true"></app-button>
            <app-button label="Ajuda" variant="tertiary" color="warning" icon="pi-question-circle" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Perigo Ghost</p>
            <app-button label="Remover" variant="tertiary" color="danger" icon="pi-trash"
              [fullWidth]="true"></app-button>
            <app-button label="Remover" variant="tertiary" color="danger" icon="pi-trash" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

          <div class="col-12 md:col-2">
            <p class="h6">Info Ghost</p>
            <app-button label="Fechar" variant="tertiary" color="help" icon="pi-times" [fullWidth]="true"></app-button>
            <app-button label="Fechar" variant="tertiary" color="help" icon="pi-times" [fullWidth]="true"
              [disabled]="true"></app-button>
          </div>

        </div>

      </app-card>

      <app-card id="componente-tabelas" title="Tabelas" subtitle="Exibição de dados em listagens e relatórios">
        <p>As tabelas tem uma função principal de apresentar dados em linhas e colunas, podendo ou não conter ações
          para cada registro listado. Aqui vamos considerar dois usos distintos: apresentação de dados (relatórios), e
          listagens com ações (cadastros e lançamentos). Cada um terá densidades diferentes, e serão apresentados em
          detalhes na sequência.</p>
        <h3>Tabela Padrão</h3>
        <p>A tabela padrão será usada em telas que tenham ações a serem executadas para cada linha. Devido a isso, a
          linha precisa ser mais alta para comportar botão para ações.</p>
        <ul style="padding-bottom:var(--spacing-m)">
          <li>Cabeçalho:</li>
          <ul>
            <li>Fundo: bg-color fundo-0, margin-bottom 1px fundo-300</li>
            <li>Texto: tipografia H6, color fundo-900, padding M, alinhamento seguindo o conteúdo da coluna</li>
          </ul>
          <li>Linha:</li>
          <ul>
            <li>Fundo:</li>
            <ul>
              <li>Padrão: bg-color fundo-0, margin-bottom 1px fundo-200</li>
              <li>Hover: idêntico ao padrão, com bg-color fundo-50</li>
              <li>Checked: idêntico ao padrão, com bg-color azul-50</li>
            </ul>
            <li>Texto: tipografia P, color fundo-900, padding-top M, padding-bottom M, padding-left L</li>
            <li>Alinhamento do texto:</li>
            <ul>
              <li>Esquerda: textos, datas</li>
              <li>Centralizado: badges, checkboxes, botões</li>
              <li>Direita: números, valores monetários</li>
            </ul>
          </ul>
          <li>Adicionais:</li>
          <ul>
            <li>Caso a tabela tenha checkboxes, o checkbox deve ser obrigatoriamente a primeira coluna, com checkbox
              seguindo as mesmas regras visuais do texto</li>
            <li>Botões de ação devem estar fixos e visíveis (sticky) na direita da linha, e centralizados. Os ícones
              devem ser
              do estilo terciário. Se houver apenas uma ação, exibi-la, caso exista mais de uma, incluir menu com
              dropdown
              para exibir as opções disponíveis; é possível ter uma ação principal em destaque junto com as demais
              ações.
              Hover no botão com cor diferenciada, para destacar.</li>
          </ul>
        </ul>

        <app-table dataKey="codigo" [items]="dadosPadrao" [columns]="colunasPadrao" [actions]="acoesPadrao"
          [selectable]="true" [(selectedItems)]="linhasSelecionadas" (onAction)="executarAcaoTabela($event)">
        </app-table>

        <h3>Scroll lateral</h3>
        <p>Caso a tabela tenha muitas colunas, o scroll lateral vai ocorrer. Neste caso, definir um min-width para
          cada cabeçalho, e a coluna de ações e checkbox ficarão sobrepostas.</p>

        <app-table dataKey="id" [items]="dadosScroll" [columns]="colunasScroll" [actions]="acoesScroll"
          [selectable]="true" [(selectedItems)]="linhasSelecionadasScroll" (onAction)="executarAcaoTabela($event)">
        </app-table>

        <h3>Altura reduzida para relatórios</h3>
        <p>Para relatórios, usar o atributo styleClass="p-datatable-sm". Dessa forma, as linhas ficam mais compactas e
          ajuda na exibição de mais registros. Importante destacar que isso só deve ocorrer se não houver nenhuma ação
          a ser executada na listagem.</p>

        <app-table dataKey="nf" [items]="dadosRelatorio" [columns]="colunasRelatorio" [compact]="true"
          [paginator]="true" [rows]="3" [rowsPerPageOptions]="[2, 3, 4]" [lazy]="true"
          [totalRecords]="totalRegistrosRelatorio" [loading]="carregandoRelatorio"
          (onLoadData)="carregarPaginaRelatorio($event)">
        </app-table>

      </app-card>

      <app-card id="componente-upload" title="Upload de arquivos"
        subtitle="Drag-and-drop ou seleção de arquivos para upload">
        <p>Para que os registros que tenham comonentes de mídia (sejam eles arquivos, documentos, imagens ou vídeos)
          possam ter estas informações vinculadas, é necessário criar um componente que permita tanto a seleção de
          arquivos do computador, como um componente fácil de arrastar-e-soltar (drag-and-drop). As características
          deste componente são as listadas abaixo:</p>
        <ul>
          <li>Fundo: bg-color peso-50</li>
          <li>Borda: dashed border-color peso-300 border-radius S</li>
          <li>Ícone central: tipografia IconXL, color peso-600, padding-top XL</li>
          <li>Texto principal: tipografia H4, color peso-900, padding-top S</li>
          <li>Botão secundário: estilo terciário</li>
          <li>Texto secundário: tipografia H5, color peso-600</li>
        </ul>

        <ul>
          <li>TODO: Reordenação via drag-and-drop</li>
          <li>TODO: Tooltips</li>
          <li>TODO: Contador de arquivos</li>
          <li>TODO: Navegação lateral em tela cheia</li>
          <li>TODO: Zoom e rotação</li>
          <li>TODO: menu de contexto</li>
          <li>TODO: fullscreen</li>
          <li>TODO: Feedback Toast</li>
          <li>TODO: suporte a vídeo</li>
        </ul>

        <div class="grid" style="padding-bottom: var(--spacing-m);">
          <div class="col-12">
            <h6>Exemplo completo</h6>
            <!-- Adicionamos a referência #uploadRef -->
            <p-fileUpload #fileUpload mode="advanced" multiple="true" customUpload="true"
              (onSelect)="simularCarregamento($event, fileUpload)" accept="image/*,video/*">

              <div *ngIf="estaCarregando" class="desmonte-upload-zone desmonte-upload-zone--loading">
                <p-progressSpinner class="desmonte-upload-zone__spinner"></p-progressSpinner>
                <p class="desmonte-upload-zone__title">Processando imagens...</p>
              </div>

              <ng-container *ngIf="!estaCarregando">
                <ng-template pTemplate="content" let-files>

                  <!-- ESTADO VAZIO: ZONA DE UPLOAD GIGANTE -->
                  <div *ngIf="files.length === 0" class="desmonte-upload-zone" (click)="fileUpload.choose()">
                    <i class="desmonte-upload-zone__icon pi pi-upload"></i>
                    <h3 class="desmonte-upload-zone__title">Arraste seus arquivos para cá</h3>
                    <p class="desmonte-upload-zone__subtitle">ou clique para procurar no computador</p>
                  </div>

                  <!-- ESTADO PREENCHIDO: GALERIA DE IMAGENS -->
                  <div *ngIf="files.length > 0" class="image-gallery">

                    <div *ngFor="let file of files; let i = index" class="image-gallery__item">
                      <i class="image-gallery__action pi pi-trash" (click)="fileUpload.remove($event, i)"></i>
                      <div class="image-gallery__placeholder">
                        <img [src]="file.objectURL" alt="Preview da mídia">
                      </div>
                      <span *ngIf="i === 0" class="image-gallery__badge">Capa</span>
                    </div>

                    <!-- BOTÃO TRACEJADO DA GALERIA -->
                    <div *ngIf="files.length < limiteArquivos" class="image-gallery__upload"
                      (click)="fileUpload.choose()">
                      <i class="pi pi-image" style="font-size: 2rem; color: var(--fundo-600);"></i>
                      <span class="image-gallery__upload-text">Arraste aqui ou selecione<br>um arquivo</span>
                    </div>

                  </div>

                </ng-template>
              </ng-container>
            </p-fileUpload>
          </div>
          <div class="col-6">
            <h6>Exemplo: Estado vazio</h6>
            <p-fileUpload #uploadRef mode="advanced" [multiple]="true" accept="image/*,video/mp4">
              <ng-template pTemplate="empty">
                <!-- Adicionamos os eventos nativos de drag e a classe dinâmica -->
                <div class="desmonte-upload-zone" [class.desmonte-upload-zone--dragover]="isDragging"
                  (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

                  <i class="pi pi-image desmonte-upload-zone__icon"></i>
                  <p class="desmonte-upload-zone__title">Arraste e solte as imagens da peça aqui</p>

                  <div class="desmonte-upload-zone__actions">
                    <button pButton label="Ou clique para procurar" severity="secondary" [text]="true"
                      (click)="uploadRef.choose()"></button>
                  </div>

                  <p class="desmonte-upload-zone__subtitle">Formatos: JPG, PNG, MP4. Máximo de 50MB por arquivo</p>
                </div>
              </ng-template>
            </p-fileUpload>
          </div>
          <div class="col-6">
            <div>
              <h6>Exemplo: Estado de Erro</h6>
              <div class="desmonte-upload-zone desmonte-upload-zone--error">
                <i class="pi pi-times-circle desmonte-upload-zone__icon"></i>
                <p class="desmonte-upload-zone__title">Arquivo excede o tamanho máximo permitido (50MB)</p>
                <div class="desmonte-upload-zone__actions">
                  <button pButton label="Tentar novamente" severity="danger" [text]="true"></button>
                </div>
              </div>
            </div>
          </div>
          <!-- SELEÇÃO SIMPLES -->
          <div class="col-12 lg:col-4">
            <h6>CORRIGIR: Seleção Simples (Apenas 1 arquivo)</h6>
            <!-- A mudança aqui é [multiple]="false" -->
            <p-fileUpload #uploadRefSingle mode="advanced" [multiple]="false" accept="application/pdf,image/*">
              <ng-template pTemplate="empty">
                <div class="desmonte-upload-zone" [class.desmonte-upload-zone--dragover]="isDragging"
                  (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                  <i class="pi pi-file desmonte-upload-zone__icon"></i>
                  <p class="desmonte-upload-zone__title">Anexar Laudo Técnico</p>
                  <div class="desmonte-upload-zone__actions">
                    <button pButton label="Procurar arquivo" severity="secondary" [text]="true"
                      (click)="uploadRefSingle.choose()"></button>
                  </div>
                  <p class="desmonte-upload-zone__subtitle">Apenas PDF ou JPG.</p>
                </div>
              </ng-template>
            </p-fileUpload>
          </div>

          <!-- ESTADO DESABILITADO -->
          <div class="col-12 lg:col-4">
            <h6>Exemplo: Desabilitado (Sem permissão)</h6>
            <div class="desmonte-upload-zone desmonte-upload-zone--disabled">
              <i class="pi pi-lock desmonte-upload-zone__icon"></i>
              <p class="desmonte-upload-zone__title">Upload bloqueado</p>
              <div class="desmonte-upload-zone__actions">
                <!-- Botão desabilitado nativamente -->
                <button pButton label="Procurar arquivo" severity="help" [text]="true" disabled></button>
              </div>
              <p class="desmonte-upload-zone__subtitle">Você não tem permissão para alterar as fotos.</p>
            </div>
          </div>
          <!-- ESTADO CARREGANDO (LOADING) -->
          <div class="col-12 lg:col-4">
            <h6>Exemplo: Carregando (Enviando ao servidor)</h6>
            <div class="desmonte-upload-zone desmonte-upload-zone--loading">
              <!-- Ícone de spinner rodando -->
              <p-progressSpinner styleClass="desmonte-upload-zone__spinner" strokeWidth="4" animationDuration="1s">
              </p-progressSpinner>
              <p class="desmonte-upload-zone__title">Enviando arquivos...</p>
              <div class="desmonte-upload-zone__actions">
                <!-- Usamos um texto fixo sem botão real para evitar duplo clique -->
                <span style="color: var(--fundo-600); font-weight: var(--font-weight-medium);">Aguarde a
                  conclusão</span>
              </div>
              <p class="desmonte-upload-zone__subtitle">Processando imagens (2 de 5)</p>
            </div>
          </div>
        </div>

        <h3>Upload Compacto</h3>
        <p>Ideal para formulários densos ou anexos secundários. Ajustar a exclusão do arquivo.</p>

        <div class="flex gap-3">
          <!-- Botão Primário -->
          <p-fileUpload mode="basic" chooseLabel="Anexar NFe" chooseIcon="pi pi-paperclip"
            accept=".xml,.pdf"></p-fileUpload>

          <!-- Botão Secundário (Outline) usando a classe do PrimeNG -->
          <p-fileUpload mode="basic" chooseLabel="Foto do Documento" chooseIcon="pi pi-camera"
            styleClass="p-button-secondary" accept="image/*"></p-fileUpload>
        </div>
      </app-card>

      <app-card id="componente-badges" title="Badges"
        subtitle="Indicadores de status, classificações e outras informações compactas">
        <p>As badges servem tanto para classificar registros em uma tabela, como também para informar dados simples
          com certo destaque. Via de regra, se assemelham a pílulas, com o conteúdo sendo exibido em seu interior. As
          características das badges que iremos montar são as seguintes:</p>
        <ul>
          <li>Fundo: bg-color cor-200, border-width 1, border-color cor-800, border-radius S</li>
          <li>Texto: tipografia H5, color cor-800, padding-left M, padding-right M, padding-top S, padding-bottom S
          </li>
        </ul>
        <h3>Exemplos</h3>
        <!-- Erro / Crítico -->
        <span class="badge badge-danger" style="margin-right: var(--spacing-m);">A categoria do Mercado Livre não foi
          informada.</span>
        <!-- Alerta / Atenção -->
        <span class="badge badge-warning" style="margin-right: var(--spacing-m);">Alguns campos da ficha técnica estão
          em branco.</span>
        <!-- Sucesso -->
        <span class="badge badge-success">Todos os dados estão preenchidos corretamente!</span>
      </app-card>

    </div>

    <div class="col-12 lg:col-3">
      <aside class="desmonte-sidebar-fixed">
        <nav class="desmonte-scrollspy">
          <ul class="desmonte-scrollspy__list">

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'tokens-cores'">
              <a href="#tokens-cores">Tokens de Cores</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'tokens-tipografia'">
              <a href="#tokens-tipografia">Tipografia</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'tokens-espacamento'">
              <a href="#tokens-espacamento">Espaçamentos</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-cards'">
              <a href="#componente-cards">Cards</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-scrollspy'">
              <a href="#componente-scrollspy">Scrollspy</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-inputs'">
              <a href="#componente-inputs">Inputs</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-botoes'">
              <a href="#componente-botoes">Botões</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-tabelas'">
              <a href="#componente-tabelas">Tabelas</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-upload'">
              <a href="#componente-upload">Upload de arquivos</a>
            </li>

            <li class="desmonte-scrollspy__item"
              [class.desmonte-scrollspy__item--active]="secaoAtiva === 'componente-badges'">
              <a href="#componente-badges">Badges</a>
            </li>

          </ul>

        </nav>

        <div class="desmonte-sidebar-actions">
          <app-button label="Publicar" icon="pi-send" [fullWidth]="true"></app-button>
          <app-button label="Fechar" variant="tertiary" color="help" icon="pi-times" [fullWidth]="true"></app-button>
        </div>

      </aside>

    </div>

  </div>
</main>