<app-field [label]="label" [required]="required" [errorMessage]="errorMessage" [helperText]="helperText"
    [styleClass]="styleClass" [customStyle]="customStyle">

    <div class="desmonte-checkbox-group" [ngClass]="'desmonte-checkbox-group--' + layout">
        
        <div *ngFor="let opt of options; let i = index" class="desmonte-checkbox-item">
            <p-checkbox 
                [inputId]="uniqueGroupName + '_' + i" 
                [name]="uniqueGroupName" 
                [value]="opt[optionValue]" 
                [(ngModel)]="value" 
                [disabled]="disabled || opt.disabled"
                (onChange)="handleSelect($event)">
            </p-checkbox>
            
            <label [for]="uniqueGroupName + '_' + i" class="desmonte-checkbox-label" [class.disabled]="disabled">
                {{ opt[optionLabel] }}
            </label>
        </div>

    </div>

</app-field>