<main class="layout-main-content">
    <div class="flex justify-content-between align-items-center mb-3">
        <div class="flex align-items-center gap-3">
            <app-button icon="pi-arrow-left" variant="tertiary" [routerLink]="['/']"></app-button>
            <div>
                <h1 class="text-3xl font-bold m-0 text-900">Gestão de Sprints</h1>
                <p class="text-600 m-0">Performance e Indicadores do Desmonte</p>
            </div>
        </div>
        <div class="flex align-items-center gap-3">
            <div>
                <app-field-dropdown label="Sprint" [options]="sprints" [value]="sprintSelecionada"
                    (valueChange)="sprintSelecionada = $event; onSprintChange()">
                </app-field-dropdown>
            </div>
            <app-button label="Sincronizar JIRA" icon="pi pi-sync" [disabled]="atualizando"
                (onClick)="sincronizarDados()">
            </app-button>
        </div>
    </div>

    <div class="grid">
        <app-card title="Resumo da Sprint" class="col-12">
            <div class="grid align-items-center">
                <div class="col-2 text-center border-right-1 border-200">
                    <h1 class="text-5xl font-bold">{{ totalEntregas }}</h1>
                    <p>Total de Entregas</p>
                </div>
                <div class="col-4 px-5 border-right-1 border-200">
                    <p-meterGroup [value]="meterGroupData" labelPosition="start" [max]="totalEntregas"></p-meterGroup>
                </div>
                <div class="col-2 text-center border-right-1 border-200">
                    <h1 class="text-5xl font-bold">{{ leadTimeGeral }} dias</h1>
                    <p class="font-medium block">Lead Time Geral</p>
                </div>
                <div class="col-2 text-center">
                    <app-knob [value]="percSlaGeral" label="SLA Geral" [valueColor]="getKnobColor(percSlaGeral)"
                        [readonly]="true"></app-knob>
                </div>

                <div class="col-2 text-center">
                    <app-knob [value]="percQualidade" label="Índice de retrabalho"
                        [valueColor]="getKnobColor(percQualidade)" [readonly]="true"></app-knob>
                </div>
            </div>
        </app-card>
    </div>

    <div class="grid">
        <app-card title="Melhorias" class="col-3">
            <div class="flex flex-column align-items-center">

                <div class="grid w-full">
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h1 class="text-4xl font-bold" style="color: var(--verde-700);">{{ metricasMelhorias.total }}
                        </h1>
                        <p>Demandas</p>
                    </div>
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h2 class="font-bold">{{ metricasMelhorias.leadTime }} dias</h2>
                        <p>Lead Time</p>
                    </div>
                    <div class="col-4 text-center">
                        <h1 class="text-4xl font-bold" [style.color]="getKnobColor(metricasMelhorias.sla)">{{
                            metricasMelhorias.sla }}%</h1>
                        <p>SLA</p>
                    </div>
                </div>
            </div>
        </app-card>

        <app-card title="Correções" class="col-3">
            <div class="flex flex-column align-items-center">
                <div class="grid w-full">
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h1 class="text-4xl font-bold" style="color: var(--laranja-500);">{{ metricasCorrecoes.total }}
                        </h1>
                        <p>Demandas</p>
                    </div>
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h2 class="font-bold">{{ metricasCorrecoes.leadTime }} dias</h2>
                        <p>Lead Time</p>
                    </div>
                    <div class="col-4 text-center">
                        <h1 class="text-4xl font-bold" [style.color]="getKnobColor(metricasCorrecoes.sla)">{{
                            metricasCorrecoes.sla }}%</h1>
                        <p>SLA</p>
                    </div>
                </div>
            </div>
        </app-card>
        <app-card title="Tarefas" class="col-3">
            <div class="flex flex-column align-items-center">
                <div class="grid w-full">
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h1 class="text-4xl font-bold" style="color: var(--azul-500);">{{ metricasTarefas.total }}</h1>
                        <p>Demandas</p>
                    </div>
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h2 class="font-bold">{{ metricasTarefas.leadTime }} dias</h2>
                        <p>Lead Time</p>
                    </div>
                    <div class="col-4 text-center">
                        <h1 class="text-4xl font-bold" [style.color]="getKnobColor(metricasTarefas.sla)">{{
                            metricasTarefas.sla }}%</h1>
                        <p>SLA</p>
                    </div>
                </div>
            </div>
        </app-card>
        <app-card title="Automações" class="col-3">
            <div class="flex flex-column align-items-center">
                <div class="grid w-full">
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h1 class="text-4xl font-bold" style="color: var(--amarelo-700);">{{ metricasAutomacoes.total }}
                        </h1>
                        <p>Demandas</p>
                    </div>
                    <div class="col-4 border-right-1 border-100 text-center">
                        <h2 class="font-bold">{{ metricasAutomacoes.leadTime }} dias</h2>
                        <p>Lead Time</p>
                    </div>
                    <div class="col-4 text-center">
                        <h1 class="text-4xl font-bold" [style.color]="getKnobColor(metricasAutomacoes.sla)">{{
                            metricasAutomacoes.sla }}%</h1>
                        <p>SLA</p>
                    </div>
                </div>
            </div>
        </app-card>

        <app-card title="Matriz de Performance" class="col-12">
            <app-table [items]="performanceColaboradores" [columns]="colunasPerformance" [compact]="true"></app-table>
        </app-card>

        <app-card title="Ranking de Clientes" class="col-12">
            <div style="overflow-y: auto; max-height: 370px;">
                <app-table [items]="clientesSprint" [columns]="colunasClientes" [compact]="true"></app-table>
            </div>
        </app-card>

        <app-card title="Release Notes" class="col-12">
            <div class="bg-gray-50 p-3 border-round border-1 border-200 mb-3 font-monospace text-xs"
                style="white-space: pre-wrap; overflow-y: auto; max-height: 200px;">
                {{ textoReleaseNotes }}
            </div>
            <div>
                <app-button label="Copiar Release Notes" icon="pi-copy" (onClick)="copiarReleaseNotes()"></app-button>
            </div>
        </app-card>
    </div>

    <div class="grid">
        <app-card title="Listagem Detalhada de Demandas" class="col-12">
            <app-table [items]="demandasDaSprint" [columns]="colunasTabela" [paginator]="true" [rows]="10"
                [compact]="true"></app-table>
        </app-card>
    </div>
</main>